<!-- Images Page on Navigation Bar -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Harmony - All Images</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <br>
    <div class="columns">
        <div class="column">
            <figure>
                <img style="max-width: 600px;" class="logo" width="150" src="/static/images/HomeHarmonyLogo.jpg"/>
            </figure>
            <br>
            <h1 class="title">Your Images</h1>
            {% include "./navbar.html" %}
        </div>
    </div>
    <div class="center-container">
        <br>
        <h2 class="title">All of your images...</h2>
    </div>
    <div class="center-container">
        {% if image_msg %}
            <p>
                {{ image_msg }}
            </p>
        {% else %}
            <br />
        {% endif %}
    </div>
    <hr>
    <div class="columns">
        <div class="column">
            {% if images["images"] %}
                {% set cur_room = images.images[0].room_name %}
                {% set cur_id = images.images[0].room_id %}
                <form action="/upload_image_form/{{ cur_id }}" method="post">
                <div class="card">
                    <h4>{{ cur_room }}</h4>
                {% for image in images.images %}
                    {% if image.room_name == cur_room %}
                        <div class="card-image">
                            <figure class="image">
                                <img style="max-width: 600px;" src="data:image/{{ image.image_type }};base64,{{ image.image_data }}" alt="Room Image" class="card-image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{ image.image_name }}</p>
                            <p class="card-text">{{ images.image_desc }}</p>
                        </div>
                        <hr>
                    {% else %}
                            <div class="image-preview">
                                <button type="submit" class="button">Add Image to Room</button>
                            </div>
                            {% set cur_room = image.room_name %}
                            {% set cur_id = image.room_id %}
                        </div>
                        </form> 
                        <form action="/upload_image_form/{{ cur_id }}" method="postt">
                        <div class="card"> 
                            <h4>{{ cur_room }}</h4>
                            <div class="card-image">
                                <figure class="image">
                                    <img style="max-width: 600px;" src="data:image/{{ image.image_type }};base64,{{ image.image_data }}" alt="Room Image" class="card-image">
                                </figure>
                            </div>
                        <div class="card-content">
                            <p class="card-title">{{ image.image_name }}</p>
                            <p class="card-text">{{ image.image_desc }}</p>
                        </div>
                        <hr>
                    {% endif %} 
                {% endfor %}
                <div class="image-preview">
                    <button type="submit" class="button">Add Image to Room</button>
                </div>
                </div>
                </form>
            {% else %}
                <p><em>&nbsp&nbsp&nbsp&nbspNo images available.</em></p>
            {% endif %}
        </div>
    </div>
</html>
