<!-- Edit Image Page  -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Harmony - Edit Image</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <figure>
            <img class="logo" width="150" src="/static/images/HomeHarmonyLogo.jpg"/>
        </figure>
        <br>
        <h1 class="title">Edit Image Information</h1>
        {% include "./navbar.html" %}
        <div class="columns">
            <div class="column">
                <form  action="/edit_image/{{ room.room_id }}/{{ image.image_id }}" method="post" enctype="multipart/form-data">
                    <label class="label add-room-label">Image Title:</label>
                    <div class="control add-room-field">
                        <input class="input add-room-field" type="text" id="image_name" name="image_name" value="{{ image.image_name }}">
                    </div>
                    <br>
                    <label class="label add-room-label">Image Description</label>
                    <div class="control add-room-field">
                        <textarea class="textarea" id="imageDescription" name="image_desc" rows="3" cols="50">{{ image.image_desc }}</textarea>
                    </div>
                    <br>
                    <img class="image" id="preview" src="data:image/{{ image.image_type }};base64,{{ image.image_data }}" alt="Room Image" width="200">
                    <br>
                    <div class="image-preview">
                        <input class="button" type="submit" value="Save Changes">
                        <a class="button" href="/delete_image/{{ room.room_id }}/{{ image.image_id }}">Delete Image</a>
                        <input class="button" type="button" value="Cancel" onclick="window.history.back()"> 
                    </div>
                </form>
                <p id="serverMsg"></p>
                <img height="200">
            </div>
        </div>
    </body>
</html>