<!-- Home Page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Harmony - Home</title>
    <link rel="stylesheet" href="/static/style.css">
    
  </head>
  <body>
    <figure>
        <img class="logo" width="150" src="/static/images/HomeHarmonyLogo.jpg" />
    </figure>
    <br>
    <h1 class="app-title">Home Harmony</h1>
    {% include "./navbar.html" %}
    <main>
     
      <br></br>


      <div class="carousel">
        <button id="carousel_button--left" class="carousel_button carousel_button--left is-hidden">
          <img class="arrow-image" src="/static/images/left2.svg" alt="">
        </button>
        <div class="carousel_track-container">
          <ul id="carousel_track" class="carousel_track">
            <li class="carousel_slide current-slide">
              <img class="carousel_images" src="/static/images/home-photo1.jpg">
            </li>
            <li class="carousel_slide">
              <img class="carousel_images" src="/static/images/home-photo2.jpg">
            </li>
            <li class="carousel_slide">
              <img class="carousel_images" src="/static/images/home-photo3.jpg">
            </li>
            <li class="carousel_slide">
              <img class="carousel_images" src="/static/images/home-photo4.jpg">
            </li>
            <li class="carousel_slide">
              <img class="carousel_images" src="/static/images/home-photo5.jpg">
            </li>
          </ul>
        </div>
        <button id="carousel_button--right" class="carousel_button carousel_button--right">
          <img class="arrow-image" src="/static/images/right2.svg">
        </button>

        <div id="carousel_nav" class="carousel_nav">
          <button class="carousel_indicator current-slide"></button>
          <button class="carousel_indicator"></button>
          <button class="carousel_indicator"></button>
          <button class="carousel_indicator"></button>
          <button class="carousel_indicator"></button>
        </div>
      </div>
      <br></br>
      <hr></hr>
      <br></br>

      <h3>Where all of your decoration and design ideas are brought to life!</h3>
    </main>
    <script src="/static/index.js" defer></script>
    )
  </body>
</html>