<!-- Images per Room -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Harmony - Room Images</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <br>
    <div class="columns">
        <div class="column">
            <figure>
                <img class="logo" width="120" src="/static/images/HomeHarmonyLogo.jpg"/>
            </figure>
            <h1 class="title">Decorate a Room</h1>
            {% include "./navbar.html" %}
        </div>
    </div>
    <div class="center-container">
        <h2 class="title">Your {{ room.room_name }} Images</h2>
    </div>
    <div class="center-container">
        {% if image_msg %}
            <p>
                {{ image_msg }}
            </p>
        {% else %}
            <br />
        {% endif %}

    </div>
    <hr>
    <div class="columns">
        <div class="column">
            {% if images["images"] %}
                {% for image in images.images %}
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="data:image/{{ image.image_type }};base64,{{ image.image_data }}" alt="Room Image" style="width:50%">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="card-title">{{ image.image_name }}</p>
                            <p class="card-text">{{ image.image_desc }}</p>
                        </div>
                        <footer class="card-footer">
                            <button class="button"><a style="color: white;" href="/edit_image/{{ room.room_id }}/{{ image.image_id }}" class="card-footer-item">Edit Image</a></button>
                            <button class="button"><a style="color: white;" href="/delete_image/{{ room.room_id }}/{{ image.image_id }}" class="card-footer-item">Delete Image</a></button>
                        </footer>
                    </div>
                    <br>
                {% endfor %}
            {% else %}
                <p><em>&nbsp&nbsp&nbsp&nbspNo images available for this room.</em></p>
            {% endif %}
            <hr>
            <div class="image-preview">
            <br></br>
            <br></br>
            <form action="/upload_image_form/{{ room.room_id }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="room_id" value="{{ room.room_id }}">
                <input type="hidden" name="room_name" value="{{ room.room_name }}">
                <input type="hidden" name="room_desc" value="{{ room.room_desc }}">
                <button class="button" type="submit">Upload Image</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>